<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <style>
            #banner {
                height: 240px;
                width: 100%;
                margin-top: 16px;
                margin-bottom: 16px;
            }
        </style>
        <title>"BTC Events"</title>   
           
    </head>
    <body>
        {%include 'navbar.html'%}
        <div class="container">
            <h1 class="text-center mt-4 mb-4">Brindavan Teachers Colony Events</h1>
            <img class="img-fluid mt-4" id="banner" src="http://127.0.0.1:5000/static/btc_image.jpg" >
            <h2 class="text-center">About BTC Events</h2>
            <div class="row">
                <div class="col-6">
                <p class="lead">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin porta lectus erat, convallis rutrum quam eleifend ullamcorper. Aenean eget imperdiet neque, sit amet sollicitudin purus. Morbi mollis felis id nulla mollis, eget dignissim sapien dictum. Sed vitae neque non lorem egestas dignissim et non purus. Maecenas orci velit, luctus in mi non, tempus tristique lectus. Etiam et rutrum felis. Duis finibus urna ut augue convallis, eget porta erat dignissim. Morbi vel magna facilisis, malesuada tortor eget, semper elit. Ut ligula lorem, volutpat quis scelerisque nec, varius sed ante. Suspendisse eu lorem tortor.

    Fusce id diam laoreet erat hendrerit lobortis. Nullam imperdiet placerat nibh, id fermentum metus consequat in. Sed euismod consectetur enim, eu luctus ante egestas nec. Vestibulum ac scelerisque ex, eu accumsan dui. Nam ullamcorper lorem tempus tortor tempus dapibus. Aenean fringilla urna odio, eget lacinia nibh efficitur sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                </p>
                </div>
                <div class="col-6">    
                    <img src="/static/banner.jpg">
                </div>
            </div>
            <h2 class="text-center mt-2 mb-2">BTC Events</h2>
                <div>
                    {% for event in events %}
                    <div>
                        <h4>{{event['event_name']}}</h4>
                        <div><b>Date </b>{{event['event_start_date']}}</div>
                    </div>
                    {% endfor %}
                </div>
            
            <div class="text-center">
                <button class="btn btn-primary btn-lg">Contact Us</button>
                <p class="mt-4 card-footer">Copyright 2024, Brindavan</p>
                
            </div>
        </div>
        <div class="card-footer text-body-secondary">
            2 days ago
          </div>
    </body>
</html>